# Server
HOST=0.0.0.0
PORT=8000
RELOAD=True
# Origins
ORIGINS=["http://other.com","https://other.com"]
# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=my_app_db
# Postgres Debug
ECHO_SQL=True
#Redis
REDIS_PASSWORD=mysecretpassword
REDIS_DB=0